button{
  &:active{
    outline: none;
    border: none;
  }
}
@mixin btnSolid($bg, $color, $radius) {
  background: $bg;
  color: $color;
  border: none;
  border-radius: $radius;
  padding: .5em 3em;
  font-size: 1.5rem;
  line-height: 1.25;
  width: 100%;
  &:hover {
    background:darken($bg,8%);
    color: $color;
    transition: all 0.1s ease;
  }
  &:active {
    background:darken($bg,25%);
    color: $color;
  } 
}

@mixin btnOutline($bg, $color, $radius) {
  background: transparent;
  color: $bg;
  border: 2px solid $bg;
  border-radius: $radius;
  padding: .5em 3em;
  font-size: 1.5rem;
  line-height: 1.25;
  width: 100%;
  &:hover {
    background: $bg;
    color: $color;
    transition: all 0.1s ease;
  }
  &:active {
    background: $bg;
    color: $color;
  } 
}

/** Pill Buttons **/
.pillSolid {
  @include btnSolid($secondary, $white, 2em);
}

.pillOutline{
  @include btnOutline($secondary, $white, 2em);
  font-size: .7em;
}

/** Round Buttons **/
.roundSolid {
  @include btnSolid($secondary, $white, 5em);
  height: 5em;
  width: 5em;
  font-size: 1em;
  font-weight: bold;
}

.roundOutline{
  @include btnOutline($secondary, $white, 5em);
  height: 5em;
  width: 5em;
  font-size: 1em;
  font-weight: bold;
}

/** Facebook Button **/
.btnFb{
  @include btnSolid($fbBlue, $white, 2rem);
}

/** Google Plus Button **/
.btnGoogle{
  @include btnSolid($GoogleRed, $white, 2rem);
}
