<% include partials/header %>
    <% include partials/nav %>
        <div class='container'>
            <div id='homeHeader'>
                <h2>Deaf Businesses</h2>
            </div>
            <div id='homeBody'>
                <p>Business Cards Here (4 x 4) or (3 x 4)</p>
            </div>
        </div>
<% include partials/footer %>