<% include partials/header %>
    <div class='container'>
        <div class='jumbotron'>
            <h1>Deaf Business Connection, Inc.</h1>
            <h3>Welcome to Deaf Business Connection app!</h3>
            <a href='/home'><button class='btn btn-lg btn-primary'>Get Started</button></a>
        </div>
    </div>
<% include partials/footer %>