<% include partials/header %>
    <% include partials/nav %>
        <div class='container'>
            <div id='loginHeader'>
                <h1>Login</h1>
                <p>Welcome back, please login to begin.</p>
            </div>
            <div id='loginForm'>
                <form action='/login' method='POST'>
                    <div class='form-group'>
                        <label for='user'>Username</label>
                        <input class='form-control' id='user' type='text' name='username' placeholder='username' pattern='.{8,16}' required title='8 character minimum to 16 maximum characters'>
                    </div>
                    <div class='form-group'>
                        <label for='pass'>Password</label>
                        <input class='form-control' id='pass' type='password' name='password' placeholder='password' pattern='.{8,16}' required title='8 character minimum to 16 maximum characters'>
                    </div>
                    <button class='btn btn-success'>Login</button>
                </form>
            </div>
        </div>       
<% include partials/footer %>