body {
    background-color: #545454;
    color: #FFF;
}
/* Landing Styles */
.jumbotron {
    color: #000;
    margin-top: 100px;
}
.jumbotron h1 {
    line-height: 25px;
}
.jumbotron h3 {
    padding-left: 50px;
}
.jumbotron button {
    margin-left: 50px;
}
/* Home Styles */
.navbar {
    border-radius: 0;
}
#homeHeader {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
#homeBody {
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 10px;
    /* remove this style */
    text-align: center;
    height: 700px;
}
#homeBody p {
    padding-top: 340px;
}
/* Register Styles */
#registerHeader {
    font-weight: bold;
}
#registerForm {
    max-width: 500px;
}
/* Login Styles */
#loginHeader {
    font-weight: bold;
}
#loginForm {
    max-width: 500px;
}
/* Business Style */
#businessLogo .thumbnail {
    width: 200px;
}
#updateRemove p{
    display: inline-block;
    margin: 20px 0;
}
#showVideo{
    margin: 20px 0;
}