<% include ../partials/header %>
    <% include ../partials/nav %>
        <div class='container'>
            <div id="newBusinessHeader">
                <h2>Register A New Business</h2>
                <p>Add business to gain new customer/client and interact with current customers/clients</p>
            </div>
            <div id='newBusinessForm'>
                <form action='/business' method='POST'>
                    <div class='form-group'>
                        <label for='busName'>Name of Business</label>
                        <input class='form-control' id='busName' type='text' name='name' placeholder='Business Name'>
                    </div>
                    <div class='form-group'>
                        <label for='busLogo'>Logo (use external image link)</label>
                        <input class='form-control' id='busLogo' type='text' name='logo' placeholder='https://linktoimage.com/image.jpg'>
                    </div>
                    <div class='form-group'>
                        <label for='busVideo'>YouTube Video</label>
                        <input class='form-control' id='busVideo' type='text' name='video' placeholder='https://youtube.com/id'>
                    </div>
                    <div class='form-group'>
                        <label for='busURL'>Business Website</label>
                        <input class='form-control' id='busURL' type='text' name='url' placeholder='yourwebsite.com'>
                    </div>
                    <div class='form-group'>
                        <label for='busURL'>Business Website</label>
                        <textarea class="form-control" rows="3" name='desc'>Business Description</textarea>
                    </div>
                    <button class='btn btn-success'>Register</button>
                </form>
            </div>
        </div>
<% include ../partials/footer %>