/*   Color   */
$primary: #282e34;
$secondary: #1c9eb4;
$white: #f6f6f6;

/*   Container Size  */ 
$xs: 600px;
$sm: 800px;
$med: 1000px;
$lg: 1200px;
$xlg: 1500px;

/*   Breakpoint Sets  */ 
$mobile: $sm;
$tablet: $med;
$desktop:$lg;

/*  Flex Grid   */ 
