@import "./base/baseAll"; //scss for basic requirements. 
@import "./components/compAll"; // scss for components
//@import "./bootstrap4/bootstrap"; //scss for pages and sections
//--------------------------------------

/* General */
.bgSection{
    background-color: $primary;
    color: $white;
}

hr{
    background:lighten($primary, 20%);
}


/* Buttons */
.pillSolid {
    @include btnSolid($secondary, $white);
    border-radius: 2em;
    padding: .5em 3em;
    font-size: .7em;
}

.pillOutline{
    @include btnOutline($secondary, $white);
    border-radius: 2em;
    padding: .7em 3em;
    font-size: .7em;
}

.roundSolid {
    @include btnSolid($secondary, $white);
    border-radius: 5em;
    height: 5em;
    width: 5em;
    font-size: 1em;
    font-weight: bold;
}

.roundOutline{
    @include btnOutline($secondary, $white);
    border-radius: 5em;
    height: 5em;
    width: 5em;
    font-size: 1em;
    font-weight: bold;
}


/* Form */
form{
    padding: 10px;
    margin: 2rem;
}
.form-control{
    width: 100%;
    background-color: $primary !important;
    color: lighten($primary, 55%) !important;
    border: none;
    border-bottom: 2px solid lighten($primary, 10%);
    border-radius: 0rem;
    display: block;
    padding: .5rem .75rem;
    font-size: 1.5rem;
    line-height: 1.25;
    &:focus{
        border-color: transparent;
        background-color: lighten($primary, 10%) !important;
        color: lighten($primary, 55%) !important;
    }
    &:active{
        background-color: lighten($primary, 10%);
        border-bottom: 2px solid transparent;
    }
    &::placeholder{
        color: lighten($primary, 20%);
    }

}

/* Submit */
.btnSubmit {
    @include btnOutline($secondary, $white);
    border-radius: 2em;
    padding: .5em 3em;
    font-size: 1.5rem;
    line-height: 1.25;
    width: 100%;
}

/* Contents */

header, footer{
    height: 3rem;
    background: $secondary;
}


/* Landing Section */
.bgImgSection{
    background-color: $primary;
    color: $white;
}
.bgImgSection:before{
    background: url('../img/landing_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    opacity: 0.4;
}

#landingIntro{
    width: 100%;
    padding: 3rem 0;
     .item{
        h3{
            text-align: center;
            padding: 1rem 0;
            font-size: 1.3rem !important;
            span{
                color: $secondary;
                font-weight: 600;
            }  
        }
        img{
            display: flex;
            height: 150px;
            margin: 0 auto;
        }

    }
    #landingBtn{
        padding-top: 4rem;
        .btnItem{
            padding: 1.5rem 0;
            display: block;
            text-align: center !important; 
            a{
                font-size: 1.1rem !important;
            }
        }

    }
    
   
}

.blankAnchor{
   &:hover{
       color: $secondary;
   }
   &:focus{
       color: lighten($secondary, 30%);
   } 
}
.red{
    background: red
}

.green{
    background: green;
}

@media screen and (min-width: 800px) {
    #landingIntro{
     .item{
        img{
            height: 200px;
        }
    }
   
    }
}